@model EAgendaWeb.WebApp.ModuloCategoria.Apresentacao.Models.EditarCategoriaViewModel

@{
    ViewData["Title"] = "Editar Categoria";
}

<div class="card">

    <div class="card-header">
        <h3>Editar Categoria</h3>
    </div>

    <div class="card-body">

        <form method="post">

            <input asp-for="Id" type="hidden" />

            <div asp-validation-summary="All"
                 class="text-danger mb-3">
            </div>

            <div class="mb-3">

                <label asp-for="Titulo"
                       class="form-label">
                </label>

                <input asp-for="Titulo"
                       class="form-control" />

                <span asp-validation-for="Titulo"
                      class="text-danger">
                </span>

            </div>

            <button type="submit"
                    class="btn btn-warning">
                Salvar Alterações
            </button>

            <a asp-action="Index"
               class="btn btn-secondary">
                Voltar
            </a>

        </form>

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}