@model EAgendaWeb.WebApp.ModuloCategoria.Apresentacao.Models.VisualizarCategoriaViewModel

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<div class="card">

    <div class="card-header">
        <h3>Detalhes da Categoria</h3>
    </div>

    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">
                Título
            </dt>

            <dd class="col-sm-9">
                @Model.Titulo
            </dd>

        </dl>

        <a asp-action="Index"
           class="btn btn-secondary">
            Voltar
        </a>

    </div>

</div>