@{
    ViewData["Title"] = "E-Agenda";
}

<div class="text-center">

    <h1 class="display-4">
        E-Agenda
    </h1>

    <p class="lead">
        Sistema de gerenciamento de contatos e compromissos.
    </p>

    <hr />

    <div class="row">

        <div class="col-md-6">

            <div class="card">

                <div class="card-body">

                    <h3>Contatos</h3>

                    <p>
                        Gerencie todos os contatos cadastrados.
                    </p>

                    <a asp-controller="Contato"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card">

                <div class="card-body">

                    <h3>Compromissos</h3>

                    <p>
                        Gerencie seus compromissos.
                    </p>

                    <a asp-controller="Compromisso"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>

            </div>

        </div>


            <div class="col-md-6">

            <div class="card">

                <div class="card-body">

                    <h3>Categorias</h3>

                    <p>
                        Gerencie suas categorias.
                    </p>

                    <a asp-controller="Categoria"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>