@{
    ViewData["Title"] = "Início";
}

<div class="text-center">

    <h1 class="display-4">
        E-Agenda
    </h1>

    <p class="lead">
        Sistema de Gerenciamento de Contatos e Compromissos
    </p>

</div>