@model EAgendaWeb.WebApp.ModuloCompromisso.Apresentacao.Models.ExcluirCompromissoViewModel

<div class="card">

    <div class="card-header bg-danger text-white">
        <h3>Excluir Compromisso</h3>
    </div>

    <div class="card-body">

        <p>
            Deseja realmente excluir o compromisso
            <strong>@Model.Assunto</strong>?
        </p>

        <form method="post">

            <input asp-for="Id" type="hidden" />

            <button type="submit"
                    class="btn btn-danger">
                Confirmar Exclusão
            </button>

            <a asp-action="Index"
               class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>